body {
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.input-group {
    display: flex;
    align-items: center;
  }

  .search-input {
    width: 100%;
    padding: 10px 35px 10px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }

  .search-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  .search-icon {
    position: absolute;
    right: 10px;
    pointer-events: none;
    color: #aaa;
  }

